/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(./img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
    overflow: hidden;
}

.wrapper {
    font-size: 20px;
    width: 900px;
    height: 540px;
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: visible;
}

 /* The Modal (background) */
 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: rgba(0,0,0,0.6);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    font-size: 1.1em;
  }
  
  /* The Modal Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 3em;
    font-weight: bold;
  }

  .rules {
      float: right;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  /* end of modal */

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 100%;
    padding: 5em;
}

.final-score {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3em;
    color: #555;
    font-size: 1em;
    font-family: 'Lato';
    text-align: center;
    padding: 0.5em;
    width: 10em;
    text-transform: uppercase;
}

.final-score:focus { outline: none; }

a {color:#FF0000;
  text-decoration: none;} /* Unvisited link  */
a:visited {color:#555;
  text-decoration: none;} /* Visited link    */
a:hover {color:#555;
  text-decoration: none;}   /* Mouse over link */
a:active {color:#555;
  text-decoration: none;}  /* Selected link   */

.footer1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1em;
    color: #555;
    font-size: 0.55em;
    font-family: 'Lato';
    text-align: center;
    padding: 0.5em;
    width: 100vw;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

footer1:hover { font-weight: 600; }
footer1:hover i { margin-right: 1em; }

#dice-1 { top: 6em; }
#dice-2 { top: 12em; }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* PLAYERS */

.player-name {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 0.5em;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 4em;
    font-weight: 300;
    color: #EB4D4D;
    margin-bottom: 0.65em;
}

.active { background-color: #f7f7f7; }

.active .player-name { font-weight: 900; }

.active .player-name::before {
    content: url(./img/piggy40px.png)
  }

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    padding: 0.6em;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-size: 0.8em;
    color: #222;
}

.player-current-score {
    font-size: 1em;
}

button {
    position: absolute;
    width: 10em;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 1em; }
button:focus {
    outline: none;
}

a:hover { font-weight: 600; }
a:hover i { margin-right: 1em; }
a:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 0.75em;
    font-size: 1.6em;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -0.2em;
    transition: margin 0.3s;
}

.show-rules { top: 1.5em}
.btn-new { top: 3.5em;}
.btn-roll { bottom: 8em;}
.btn-hold { bottom: 6em;}

.dice {
    position: absolute;
    left: 50%;
    top: 9em;
    transform: translateX(-50%);
    height: 5em;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { 
    background-image: url(./img/winner450px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.winner .player-name { 
    font-weight: 900; 
    color: black; 
    margin-top: -2em; 
}

.winner .player-score { 
    color: black; 
    margin-top: 3.5em; 
}


/**** TABLET HORIZONTAL****/

@media all and (max-width: 1200px) {
    body {
        background-image: none;
        height: 100vh;
    }

    .wrapper {
        font-size: 1em;
        width: 95vw;
        height: 95vh;
        position: relative;
        top: 50vh;
        left: 50vw;
    }


    .modal-content {
        position: relative;
        width: 70%;
        height: 60%;
        left: 15%;
        top: 20%;
    }

    button {
        font-size: 1.3em;
    }

    .player-current-score {
        font-size: 1.5em;
    }

    .dice {
        height: 9em;
    }

    #dice-1 { left: 23em; top: 24em; }
    #dice-2 { left: 38em; top: 24em; }

    .final-score {
        bottom: 4em;
    }

    .footer1 {
        font-size: 0.8em;
    }

    .winner { 
        background-image: url(./img/winner450px.jpg);
        background-size: auto;  
    }

    .winner .player-name {margin-top: -0.5em; }
    .winner .player-score { margin-top: -0.4em; }
}

/***** PHONE HORIZONTAL *****/

@media all and (max-width: 1280px) {

    .modal-content {
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        font-size: 1em;
    }

    .rules {
        display: none;
    }

    .active .player-name::after {
        content: none;
    }

    .player-0-panel,
    .player-1-panel {
        padding: 15vh 10vw;
    }

    .player-name {
        font-size: 1.5em;
        margin-top: 0.1em;
        position: relative;
    }

    .player-current-box {
        width: 60%;
        margin: 0 auto;
        padding: 0.4em;
        font-size: 1.2em;
    }

    .dice {
        height: 5em;
    }

    #dice-1 { left: 17em; top: 6em; }
    #dice-2 { left: 23em; top: 6em; }

    .winner { 
        background-image: url(./img/winner450px.jpg);
        background-size: auto;  
    }
    
    .footer1 {
        font-size: 0.8em;
    }
    
    .footer2 {
        display: none;
    }
}

/***** TABLET VERTICAL *****/
@media all and (max-width: 992px) {

    .rules {
        display: block;
    }

    .modal-content {
        position: relative;
        width: 70%; 
        height: 80%;
        left: 15%;
        top: 10%;
        font-size: 1.4em;
    }

    .dice {
        height: 9em;
    }

    #dice-1 { left: 16em; top: 35em; }
    #dice-2 { left: 30em; top: 35em; }

    .winner { 
        background-image: url(./img/winner360px.jpg);
        background-size: auto;  
      }
      
}

/***** PHONE HORIZONTAL *****/
@media all and (max-width: 760px) {

    button {
        font-size: 1em;
    }
    
    .rules {
        display: none;
    }

    .modal-content {
        position: relative;
        width: 100%; 
        height: 100%;
        left: 0;
        top: 0;
        font-size: 1em;
    }

    .active .player-name::before {
        content: url(./img/piggy20px.png);
    }

    .dice {
        height: 5em;
    }

    #dice-1 { left: 16em; top: 6.5em; }
    #dice-2 { left: 23.5em; top: 6.5em; }

    .winner { 
        background-image: url(./img/winner300px.jpg);
        background-size: auto;  
    }
    .winner .player-name { margin-top: -2em; }
    .winner .player-score { margin-top: 3em; }
    
    .final-score {
        bottom: 3em;
    }
}

/***** PHONE VERTICAL *****/
@media all and (max-width: 576px) {

    body {
        background-image: none;
        font-family: Lato;
        font-weight: 300;
        position: relative;
        height: 100vh;
        color: #555;
        overflow: hidden;
    }


    .wrapper {
        font-size: 1em;
        width: 95vw;
        height: 95vh;
        position: relative;
        top: 50vh;
        left: 50vw;
        background-color: #fff;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
        overflow: visible;
    }

    .rules {
        display: block;
        max-height: 120px;
        margin-top: 10px;
    }

    .player-0-panel,
    .player-1-panel {
        width: 50%;
        float: left;
        padding: 15vh 4vw;

    }

    .player-name {
        font-size: 1.5em;
        letter-spacing: 0.1em;
        font-weight: 100;
        margin-top: 0.1em;
        margin-bottom: 0.5em;
        position: relative;
    }

    .player-current-box {
        width: 100%;
        margin: 0 auto;
        padding: 0.4em;
        font-size: 1.2em;
    }

    .dice {
        height: 5em;
        box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    }

    #dice-1 { left: 7em; top: 24em; }
    #dice-2 { left: 15em; top: 24em; }

    .winner { 
        background-image: url(./img/winner175px.jpg);
        background-size: auto;  
    }

    .winner .player-name { margin-top: 0; }
    .winner .player-score { margin-top: 0; }

    .footer3 {
        display: none;
    }
}